SCExpertConnectSBOPlugin/XSLMaps/ImportTransactions/Items/Backup/ExpertItems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WIDTH">
		<xs:complexType/>
	</xs:element>
	<xs:element name="VOLUME">
		<xs:complexType/>
	</xs:element>
	<xs:element name="VENDORSKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="VELOCITY">
		<xs:complexType/>
	</xs:element>
	<xs:element name="UOMOBJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UOM"/>
				<xs:element ref="EANUPC"/>
				<xs:element ref="GROSSWEIGHT"/>
				<xs:element ref="NETWEIGHT"/>
				<xs:element ref="LENGTH"/>
				<xs:element ref="WIDTH"/>
				<xs:element ref="HEIGHT"/>
				<xs:element ref="VOLUME"/>
				<xs:element ref="LOWERUOM"/>
				<xs:element ref="UNITSPERMEASURE"/>
				<xs:element ref="SHIPPABLE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UOMCOLLECTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UOMOBJ" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UOM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="UNITSPERMEASURE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="UNITPRICE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="TRANSPORTATIONCLASS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SUBSTITUTESKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SUBSTITUTESCOLLECTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SUBOBJ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUBOBJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SUBSTITUTESKU"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STORAGECLASS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="STATUS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SKUSHORTDESC">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SKUGROUP">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SKUDESC">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SKUCLASS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CLASSNAME"/>
				<xs:element ref="DESCRIPTION"/>
				<xs:element ref="ATTRIBUTES"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKUATTRIBUTES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SKUATTRIBUTE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKUATTRIBUTE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTENAME"/>
				<xs:element ref="ATTRIBUTEVALUE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SHIPPABLE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PREFPUTREGION">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PREFLOCATION">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PICTURE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PICKSORTORDER">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PARTSKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PARTQTY">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OVERRECEIVEPCT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OVERPICKPCT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OTHERSKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OPORTUNITYRELPFLAG">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ONSITEMIN">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ONSITEMAX">
		<xs:complexType/>
	</xs:element>
	<xs:element name="NOTES">
		<xs:complexType/>
	</xs:element>
	<xs:element name="NEWSKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="NETWEIGHT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MANUFACTURERSKU">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LOWLIMITCOUNT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LOWERUOM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LENGTH">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LASTCYCLECOUNT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="INVENTORY">
		<xs:complexType/>
	</xs:element>
	<xs:element name="INITIALSTATUS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="HUTYPE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="HEIGHT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="HAZCLASS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GROSSWEIGHT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="FIFOINDIFFERENCE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="EANUPC">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DESCRIPTION">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DEFAULTUOM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DEFAULTRECUOM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DATACOLLECTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CONSIGNEE"/>
				<xs:element ref="SKU"/>
				<xs:element ref="DEFAULTUOM"/>
				<xs:element ref="SKUDESC"/>
				<xs:element ref="PICKSORTORDER"/>
				<xs:element ref="SKUSHORTDESC"/>
				<xs:element ref="MANUFACTURERSKU"/>
				<xs:element ref="VENDORSKU"/>
				<xs:element ref="OTHERSKU"/>
				<xs:element ref="SKUGROUP"/>
				<xs:element ref="SKUCLASS"/>
				<xs:element ref="CLASSNAME"/>
				<xs:element ref="STATUS"/>
				<xs:element ref="INVENTORY"/>
				<xs:element ref="NEWSKU"/>
				<xs:element ref="INITIALSTATUS"/>
				<xs:element ref="VELOCITY"/>
				<xs:element ref="FIFOINDIFFERENCE"/>
				<xs:element ref="ONSITEMIN"/>
				<xs:element ref="ONSITEMAX"/>
				<xs:element ref="LASTCYCLECOUNT"/>
				<xs:element ref="CYCLECOUNTINT"/>
				<xs:element ref="LOWLIMITCOUNT"/>
				<xs:element ref="PREFLOCATION"/>
				<xs:element ref="PREFPUTREGION"/>
				<xs:element ref="PICTURE"/>
				<xs:element ref="UNITPRICE"/>
				<xs:element ref="OPORTUNITYRELPFLAG"/>
				<xs:element ref="HAZCLASS"/>
				<xs:element ref="TRANSPORTATIONCLASS"/>
				<xs:element ref="OVERPICKPCT"/>
				<xs:element ref="OVERRECEIVEPCT"/>
				<xs:element ref="HUTYPE"/>
				<xs:element ref="DEFAULTRECUOM"/>
				<xs:element ref="DEFAULTUOM"/>
				<xs:element ref="STORAGECLASS"/>
				<xs:element ref="NOTES"/>
				<xs:element ref="UOMCOLLECTION"/>
				<xs:element ref="BOMCOLLECTION"/>
				<xs:element ref="SUBSTITUTESCOLLECTION"/>
				<xs:element ref="SKUATTRIBUTES"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CYCLECOUNTINT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CONSIGNEE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CLASSNAME">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BOMORDER">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BOMOBJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PARTSKU"/>
				<xs:element ref="PARTQTY"/>
				<xs:element ref="BOMORDER"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BOMCOLLECTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BOMOBJ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTVALUE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ATTRIBUTEVALUE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ATTRIBUTES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTRIBUTENAME">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ATTRIBUTE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTNAME"/>
				<xs:element ref="ATTVALUE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTNAME">
		<xs:complexType/>
	</xs:element>
</xs:schema>
